@import 'normalize';

.logo {
  max-width: 10em;
  margin: auto;
}

.margin-top {
  margin-top: 14em;
}

a {
  font-family: Open Sans, lucida grande, Segoe UI, arial, verdana, lucida sans unicode, tahoma, sans-serif;
  font-weight: 400;
  font-size: 2.75rem;
  color: #373a3c;
  text-align: center;
  text-decoration: none;
}

.label {
  margin: 5px;

  &.label-enhanced {
    margin: 10px;
  }
}