.btn {
  background: rgba(226,226,226,1);
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  border-radius: 3px;
  color: black;
  font-size: 16px;
  padding: 5px 10px;
  min-width: 50px;
  cursor: pointer;
  margin: 5px;

  &--red {
    @extend .btn;
    color: white;
    background: rgba(239,197,202,1);
    background: linear-gradient(to bottom, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
  }

  &--green {
    @extend .btn;
    color: white;
    background: rgba(164,179,87,1);
    background: linear-gradient(45deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
  }
  
  &--blue {
    @extend .btn;
    color: white;
    background: rgba(183,222,237,1);
    background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
  }
}
