.ctn {
  width: 100%;
  max-width: 900px;

  &[fluid='true'] {
    max-width: 100%;
  }

  &[align='center'] {
    text-align: center;
    margin: 0 auto;
  }

  &[align='justify'] {
    text-align: justify;
  }
}
